* {
  margin: 0px;
  padding: 0;
}


.logo-Name{
  font-size: 35px;
  padding: 10px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: turquoise;
  text-decoration: none;

}

.header {
  min-height: 70vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../images/bgk-header.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1.5% 15% 0 25%;
}

nav img {
  width: 60px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;

}

.nav-links ul li a:hover {
  color: turquoise;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 40px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: turquoise;
  border: 1px solid turquoise;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid white;

}

.text-box a:hover {
  color: white;
}

nav .fa{
  display: none;
}



.text-box hr {
  width: 5%;
  border-bottom: 1px solid turquoise;
  margin-right: auto;
  margin-left: auto;
}

.container2{
width: 55%;
margin: auto;
padding-top: 70px ;
  
}

.row{
  display: flex;
  justify-content: space-between;
}

.flexbox-Item{
  margin: 30px;
}

.text-box h1{
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.text-box p{
  font-size: 15px;
  font-weight: 100;
  font-family: system-ui;
  text-align: center;
}

/* Container 4 */
.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 20rem;
}
.title {
    font-family: 'Playfair Display', serif;
}
.title p {
    padding: 1rem 0;
}
.cont4hr {
    width: 5%;
    border: 1px solid turquoise;
}
.flexcon {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}
.frow {
    display: flex;
    align-items: baseline;
}
.frow1 {
   border: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.097);
}
.fitems1, .fitems2 {
    border-right: 1px solid rgba(0, 0, 0, 0.097);
}
.fitems {
    padding: 2rem;
}
.fitems img {
    height: 35px;
}

.fitems h4 {
    font-size: .7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin: 1rem 0;
}
.fitems p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    opacity: .5;
}

/*-- for Mobile version --*/
@media(max-width:700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {

    display: block;

  }

  .nav-links {
    position: absolute;
    background: tomato;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;;

  }

  .logo-Name{
    font-size: 35px;
    padding: 10px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: turquoise;
    text-decoration: none;
    margin-left: 10px;
  }

  nav .fa{
    display: block;
    color: white;
    margin: 20px;
    margin-left: 100px;
    font-size: 22px;
    cursor: pointer;
  }
  nav img {
    width: 60px;
  margin-left: 30px;
  }
  .nav-links ul{
    padding: 30px;
  }

  .row{
    
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  h1{
    text-align: center;
    
  }
  .flexbox-Item{
    text-align: center;
    
  }

}